@model IEnumerable<ckingdon.Bartender.Models.Drink>
@{
    ViewBag.Title = "Drinks";
}

@{var drinks = Model.ToArray();}

<table class="text-center" style="margin:auto">
    <tr>
        <td>
            <img src="@drinks[0].Image" alt="Drink" style="height:50px; width:50px"/>
            <p>@drinks[0].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
        <td>
            <img src="@drinks[1].Image" alt="Drink" />
            <p>@drinks[1].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
        <td>
            <img src="@drinks[2].Image" alt="Drink" />
            <p>@drinks[2].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="@drinks[3].Image" alt="Drink" />
            <p>@drinks[3].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
        <td>
            <img src="@drinks[4].Image" alt="Drink" />
            <p>@drinks[4].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
        <td>
            <img src="@drinks[5].Image" alt="Drink" />
            <p>@drinks[5].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="@drinks[6].Image" alt="Drink" />
            <p>@drinks[6].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
        <td>
            <img src="@drinks[7].Image" alt="Drink" />
            <p>@drinks[7].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
        <td>
            <img src="@drinks[8].Image" alt="Drink" />
            <p>@drinks[8].Name</p>
            <p><a class="btn-default" href="Create"></a></p>
        </td>
    </tr>
</table>

