@model IEnumerable<ckingdon.Bartender.Models.Drink>
@{
    ViewBag.Title = "Drinks";
}

@{var drinks = Model.ToArray();}

<h1 class="drinks">Choose your drink</h1>
@{ int count = 0;}
<table class="drinks">
    @for(int i=0; i<3; i++)
    {
        <tr>
            @for (int x = 0; x < 3; x++)
            {
                <td>
                    <img src="@drinks[count].Image" alt="@drinks[count].Name" />
                    <p>@drinks[count].Name</p>
                    <p><div class="btn btn-default">@Html.ActionLink("Select", "Order", new { id = drinks[count].DrinkID })</div></p>
                    @{count++;}
                </td>
            }@*end column loop*@
        </tr>
    }@*end row loop*@
</table>

<h1 class="middle">Or</h1>
<h1 style="text-align:center; margin-top:2%;">Edit your order</h1>
<div class="side">
    
    
    @using(Html.BeginForm("EditOrder","Orders", FormMethod.Post))
    {
        @Html.TextBox("UserPIN")
        <input type="submit" />
    }
</div>